@media (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 20%;
    }
}

.md-grid {
  max-width: 100% !important;
}

.md-typeset {
  font-size: 0.7rem !important;
  line-height: 1.0 !important;
}

body {
  font-weight: normal;
  letter-spacing: normal;
}